.wrapper
    margin-bottom: 32px
    
.products
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 32px
    
.subheader
    text-align: center
    font-weight: 700
    font-size: 40px
    line-height: 120%
    margin-bottom: 32px
